.footer {
    padding: 40px 0;
    background-color: $text-color;
    color: $brand_color;

    .footer-credits {
        align-items: flex-end;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;

        @include until($tablet) {
            align-items: center;
            flex-flow: column;
        }

        .footer-logo {
            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }

        .address {
            font-style: normal;
            text-align: center;
            @include at-least($tablet){
                text-align: right;
            }
        }
    }
}
