.footer {
    padding: 40px 0;
    background-color: $text-color;
    color: $brand_color;

    .footer-credits {
        align-items: flex-end;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;

        @include until($tablet) {
            align-items: center;
            flex-flow: column;
        }

        .footer-logo {
            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }

        .address {
            font-style: normal;
            text-align: center;
            @include at-least($tablet){
                text-align: right;
            }
        }
    }
}

.back-to-top {

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        z-index: 999;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);;
    
    }

    .top {
        position: fixed;
        right: 50px;
        bottom: 60px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s linear 0s visibility;
        visibility: hidden;
        background: #fff;
        overflow: hidden;
        
        &.is-active {
            visibility: visible;
        }

        svg {
            width: 25px;
            height: 25px;
        }
    }
}