nav ul,
.menu {
    list-style: none;
    padding: 0;
}

.left-nav {
    display: flex;
    align-items: center;   
}

.right-nav {

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -15px;

        @include between($small-tablet,$tablet) {
            margin-right: 40px;
        }

        @include until($small-tablet){
            margin: 0 -10px;
            margin-right: 20px;
        }

        .menu-item {
            margin: 0 15px;

            @include at-least($tablet) {
                &:last-child {
                    margin-left: 50px;
                }
            }

            @include until($small-tablet){
                margin: 0 10px;
                .button{
                    display: none;
                }
            }

            a {
                &:hover {
                    color: inherit;
                    transition: 0.3s ease-in-out;

                    &.button {
                        color: white;
                    }
                }

            }

            &.is-active {
                a {
                    color: $brand-color_alt;
                    display: none;
                }
            }
        }
    }

    
}

.main-nav {
    color: $text-color;
    transform: all 0.5s ease-in;

    @include until($tablet) {
        -webkit-overflow-scrolling: touch;
        background: white;
        color: black;
        height: 100%;
        // left: 0;
        opacity: 0;
        overflow-y: auto;
        padding: #{$mobile-header-height} 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity 500ms ease, visibility 500ms ease;
        visibility: hidden;
        width: 80%;
        z-index: 100;

        &.is-active {
            height: 100%;
            opacity: 1;
            visibility: visible;
        }
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 0 -15px;
        padding: 0;

        @include until($tablet) {
            flex-direction: column;
            text-align: center;
            margin: 0;
            min-height: 100%;
            justify-content: center;
        }

        .menu-item {
            margin: 0 15px;
            text-transform: capitalize;

            @include until($tablet) {
                margin: 20px 0;
            }

            a {
                font-size: 16px;
                font-weight: 400;
                color: inherit;

                &:hover {
                    color: $brand-color_alt;
                }
            }
        }
    }

    .sub-menu {
        display: none;
    }

    .open-submenu > .sub-menu {
        display: block;
    }
}

.footer-menu {
    display: flex;
    align-items: center;
    margin: 0 -5px;

    @include until($tablet){
        margin: 40px 0;
    }

    .menu-item {
        margin: 0 5px;
        

        a {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 44px;
            font-size: 16px;
            border: 2px solid $brand_color;
            border-radius: 50%; 
            transition: all 0.5s ease-in-out;  
            

            &:hover {
                background: $brand_color_alt;
                border: 0;
            }
        }
    }
}
