.tabs {
    .tabs-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: capitalize;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            position: relative;
            display: inline-block;
            padding-bottom: 4px;
            font-size: 18px;
            font-weight: 500;
            color: $text-color;
            cursor: pointer;
            transition: all 1s ease-in-out;
        

            @include until($tablet){
                flex-basis: 50%;
                margin: 10px 0;
            }

            &:before {
                position: absolute;
                bottom: 0;
                padding-bottom: -10px;
                content: "";
                width: 100%;
                max-width: 30px;
                height: 2px;
                background-color: $text-color;
                
            }

            &.is-active {
                color: $brand_color_alt;

                &:before {
                    max-width: 90px;
                    @include at-least($tablet){
                        max-width: 100%;
                    }

                    transition: all 1s ease-in-out;
                    background-color: $brand_color_alt;
                }
            }

        }
    }

    .tab-content {
        display: none;
        margin: 20px 0;
        padding: -10px 0;
        font-size: 16px;

        .tab-container {
            padding: 10px 0
        }

        &.is-active {
            display: block;
        }

        .tab-title {
            text-transform: capitalize;
            font-size: 16px;
        }

        .tap-excerpt {
            color: #7e7e7e;
            font-weight: 500;
        }
    }
}
